# FILES TO IGNORE BY GIT #

#########################
## Common files
###########################################

.vscode

###########################################
## Maven
###########################################

target/

###########################################
## Java
###########################################

*.jar

###########################################
## Python
###########################################

__pycache__
.pytest_cache
.coverage